<%= form_with(model: near_station, local: true) do |form| %>
  <%= form.fields_for :near_stations do |station| %>
    <div class="field">
      <%= station.label :route_name %>
      <%= station.text_field :route_name %>
    </div>

    <div class="field">
      <%= station.label :station_name %>
      <%= station.text_field :station_name %>
    </div>

    <div class="field">
      <%= station.label :minute_walk %>
      <%= station.text_field :minute_walk %>分
    </div>
  <% end %>
<% end %>
