<p id="notice"><%= notice %></p>

<p>
  <strong>Route name:</strong>
  <%= @near_station.route_name %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @near_station.station_name %>
</p>

<p>
  <strong>Minute walk:</strong>
  <%= @near_station.minute_walk %>
</p>

<p>
  <strong>Property:</strong>
  <%= @near_station.property %>
</p>

<%= link_to 'Edit', edit_near_station_path(@near_station) %> |
<%= link_to 'Back', near_stations_path %>
