<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="property_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="property_rent">
    <%= form.label :rent %>
    <%= form.text_field :rent %>円
  </div>
  <div class="property_address">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div class="property_age">
    <%= form.label :age %>
    <%= form.text_field :age %>年
  </div>
  <div class="property_note">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <%= form.fields_for :near_stations do |station| %>
    <div class="field">
      <%= station.label :route_name %>
      <%= station.text_field :route_name %>
    </div>

    <div class="field">
      <%= station.label :station_name %>
      <%= station.text_field :station_name %>
    </div>

    <div class="field">
      <%= station.label :minute_walk %>
      <%= station.text_field :minute_walk %>分
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
